.root {
  cursor: pointer;
  display: inline-block;

  &[data-disabled] {
    cursor: default;
    opacity: 0.5;
  }
}

.label {
  display: flex;
  gap: 12px;
}

.item {
  all: unset;

  position: relative;

  width: 16px;
  height: 16px;

  border: 2px solid var(--color-accent-500);
  border-radius: 50%;
}

.label {
  display: flex;
  gap: 2px;
  align-items: center;

  > label {
    cursor: pointer;

    .root[data-disabled] & {
      cursor: default;
    }
  }
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  &:focus-visible {
    background-color: var(--color-dark-700);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-accent-900);
  }
}

.icon {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;

  &[data-state='checked'] {
    width: 10px;
    height: 10px;
    background-color: var(--color-accent-500);
  }
}
