.container {
  width: fit-content;
  margin: 50px auto;
  padding: 33px 36px 60px;

  .title {
    display: block;
    text-align: center;
  }

  .input {
    width: 348px;
    margin: 51px 0 19px;
  }

  .text {
    display: block;
    width: 348px;
    color: var(--color-light-900);
    opacity: 0.5;
  }

  .button {
    margin-top: 41px;
  }
}
