.trigger {
  all: unset;
  cursor: pointer;
}

.content {
  position: relative;

  padding: 0 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 4px;

  .triangle {
    position: absolute;
    top: -4.6px;
    right: 12px;
    rotate: 45deg;

    width: 8px;
    height: 8px;

    background-color: inherit;
    border-top: 1px solid var(--color-dark-300);
    border-left: 1px solid var(--color-dark-300);
  }
}

.item {
  all: unset;

  cursor: pointer;

  display: block;

  width: 100%;
  padding: 12px 0;

  &:hover {
    opacity: 0.6;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--color-dark-300);
}
