.container {
  width: fit-content;
  margin: 50px auto;
  padding: 33px 36px 29px;

  .title {
    display: block;
    text-align: center;
  }

  .form {
    width: 348px;
    margin: 51px 0 20px;

    .input {
      margin-bottom: 19px;
    }
  }

  .button {
    margin: 65px 0 20px;
  }

  .text1 {
    width: 348px;
    color: var(--color-dark-100);
  }

  .text2 {
    display: block;
    margin-bottom: 11px;
    color: var(--color-light-900);
    text-align: center;
  }

  .link {
    margin: 0 auto;
    text-decoration: underline;
  }
}
